.fitness-app-container .ellipse-2 {
  backdrop-filter: blur(2px);
  position: absolute;
  top: -296px;
  right: -34px;
  width: 1348px;
  height: 591px;
}
.fitness-app-container .fitness-app {
  margin-right: 20.5px;
  width: 364px;
  overflow-wrap: break-word;
  font-family: 'Epilogue';
  font-weight: 800;
  font-size: 40px;
  color: #1C3796;
}
.fitness-app-container .home {
  margin: 7px 0 1px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Epilogue';
  font-weight: 500;
  font-size: 32px;
  color: #9E82D8;
}
.fitness-app-container .about {
  margin: 7px 0 1px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Epilogue';
  font-weight: 500;
  font-size: 32px;
  color: #9E82D8;
}
.fitness-app-container .pricing {
  margin: 7px 0 1px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Epilogue';
  font-weight: 500;
  font-size: 32px;
  color: #9E82D8;
}
.fitness-app-container .login {
  margin: 7px 0 1px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Epilogue';
  font-weight: 500;
  font-size: 32px;
  color: #9E82D8;
}
.fitness-app-container .container-1 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.07);
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 87px 0 19px 35px;
  width: 1307px;
  box-sizing: border-box;
}
.fitness-app-container .image-4 {
  background: url('../assets/images/image_4.png') 50% / cover no-repeat;
  position: relative;
  margin: 0 1px 22px 0;
  width: 299px;
  height: 299px;
}
.fitness-app-container .nutrition-plan {
  position: relative;
  margin: 0 0 23px 16px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Epilogue';
  font-weight: 800;
  font-size: 64px;
  color: #0F644F;
}
.fitness-app-container .line-5 {
  background: rgba(206, 206, 206, 0.8);
  position: relative;
  margin-bottom: 4px;
  width: 1478px;
  height: 0px;
}
.fitness-app-container .monday {
  position: relative;
  margin: 0 14.3px 17px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Jua';
  font-weight: 400;
  font-size: 40px;
  color: #4D6D77;
}
.fitness-app-container .vector-2 {
  width: 55px;
  height: 55px;
}
.fitness-app-container .container-8 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
  border-radius: 27px;
  border: 5px solid rgba(255, 255, 255, 0.35);
  background: rgba(186, 243, 202, 0.8);
  position: relative;
  margin: 0 19px 2.7px 0;
  display: flex;
  padding: 14px 16px 13px 14px;
  width: 85px;
  height: 82px;
  box-sizing: border-box;
}
.fitness-app-container .breakfast {
  margin-bottom: 2px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Epilogue';
  font-weight: 800;
  font-size: 24px;
  color: #0F644F;
}
.fitness-app-container .overnight-oats {
  overflow-wrap: break-word;
  font-family: 'Jua';
  font-weight: 400;
  font-size: 24px;
  color: #4D6D77;
}
.fitness-app-container .container-10 {
  margin: 14px 81.6px 13.7px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.fitness-app-container .vector-1 {
  width: 18.1px;
  height: 10.7px;
}
.fitness-app-container .iconangle-down {
  margin-top: 74px;
  display: flex;
  width: 18.1px;
  height: 10.7px;
  box-sizing: border-box;
}
.fitness-app-container .container-7 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background: #F5F5F5;
  position: relative;
  margin: 2px 26px 0 0;
  display: flex;
  flex-direction: row;
  padding: 19px 16px 10.3px 12px;
  box-sizing: border-box;
}
.fitness-app-container .vector-5 {
  width: 50px;
  height: 51px;
}
.fitness-app-container .container-6 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
  border-radius: 27px;
  border: 5px solid rgba(255, 255, 255, 0.35);
  background: rgba(186, 243, 202, 0.8);
  position: relative;
  margin: 0 19px 2.7px 0;
  display: flex;
  padding: 15px 17px 16px 18px;
  width: 85px;
  height: 82px;
  box-sizing: border-box;
}
.fitness-app-container .lunch {
  margin-bottom: 2px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Epilogue';
  font-weight: 800;
  font-size: 24px;
  color: #0F644F;
}
.fitness-app-container .black-bean-burrito {
  overflow-wrap: break-word;
  font-family: 'Jua';
  font-weight: 400;
  font-size: 24px;
  color: #4D6D77;
}
.fitness-app-container .container-9 {
  margin: 14px 42.9px 13.7px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.fitness-app-container .vector-3 {
  width: 18.1px;
  height: 10.7px;
}
.fitness-app-container .iconangle-down-1 {
  margin-top: 74px;
  display: flex;
  width: 18.1px;
  height: 10.7px;
  box-sizing: border-box;
}
.fitness-app-container .container-4 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background: #F5F5F5;
  position: relative;
  margin: 2px 18px 0 0;
  display: flex;
  flex-direction: row;
  padding: 19px 16px 10.3px 12px;
  box-sizing: border-box;
}
.fitness-app-container .vector {
  width: 50px;
  height: 45px;
}
.fitness-app-container .mdipasta {
  display: flex;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
}
.fitness-app-container .container-3 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
  border-radius: 27px;
  border: 5px solid rgba(255, 255, 255, 0.35);
  background: rgba(186, 243, 202, 0.8);
  position: relative;
  margin-right: 19px;
  display: flex;
  padding: 18.5px 17px 18.5px 18px;
  width: 85px;
  height: 82px;
  box-sizing: border-box;
}
.fitness-app-container .dinner {
  margin-bottom: 2px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Epilogue';
  font-weight: 800;
  font-size: 24px;
  color: #0F644F;
}
.fitness-app-container .alfredo-pasta {
  overflow-wrap: break-word;
  font-family: 'Jua';
  font-weight: 400;
  font-size: 24px;
  color: #4D6D77;
}
.fitness-app-container .container-11 {
  margin: 14px 0 11px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.fitness-app-container .container-2 {
  margin-bottom: 4.7px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.fitness-app-container .vector-4 {
  width: 18.1px;
  height: 10.7px;
}
.fitness-app-container .iconangle-down-2 {
  margin-top: 76px;
  display: flex;
  width: 18.1px;
  height: 10.7px;
  box-sizing: border-box;
}
.fitness-app-container .container {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background: #F5F5F5;
  position: relative;
  margin-bottom: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 19px 19.9px 8.3px 12px;
  width: 388px;
  height: fit-content;
  box-sizing: border-box;
}
.fitness-app-container .container-5 {
  position: relative;
  margin: 0 37px 0 35px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.fitness-app-container {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 36px;
  width: 1280px;
  box-sizing: border-box;
}
