.mac-book-air-5 .ellipse-3 {
  backdrop-filter: blur(2px);
  position: absolute;
  left: -25px;
  top: -299px;
  width: 1329px;
  height: 625px;
}
.mac-book-air-5 .image-6 {
  background: url('../assets/images/image_6.png') 50% / cover no-repeat;
  position: absolute;
  left: 50%;
  top: 67px;
  translate: -50% 0;
  width: 300px;
  height: 300px;
}
.mac-book-air-5 .fitness-app {
  margin-right: 20.5px;
  width: 364px;
  overflow-wrap: break-word;
  font-family: 'Epilogue';
  font-weight: 800;
  font-size: 40px;
  color: #1C3796;
}
.mac-book-air-5 .home {
  margin: 7px 0 1px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Epilogue';
  font-weight: 500;
  font-size: 32px;
  color: #9E82D8;
}
.mac-book-air-5 .about {
  margin: 7px 0 1px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Epilogue';
  font-weight: 500;
  font-size: 32px;
  color: #9E82D8;
}
.mac-book-air-5 .pricing {
  margin: 7px 0 1px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Epilogue';
  font-weight: 500;
  font-size: 32px;
  color: #9E82D8;
}
.mac-book-air-5 .login {
  margin: 7px 0 1px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Epilogue';
  font-weight: 500;
  font-size: 32px;
  color: #9E82D8;
}
.mac-book-air-5 .container {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.07);
  background: #FFFFFF;
  position: relative;
  margin: 0 92px 332px 79px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 87px 0 19px 35px;
  width: 1307px;
  box-sizing: border-box;
}
.mac-book-air-5 .workout-tracker {
  margin: 0 42px 12px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Epilogue';
  font-weight: 800;
  font-size: 64px;
  color: #99581D;
}
.mac-book-air-5 .line-5 {
  background: rgba(206, 206, 206, 0.8);
  margin-bottom: 55px;
  width: 1478px;
  height: 0px;
}
.mac-book-air-5 .rectangle-23 {
  opacity: 0.5;
  background: #FFFFFF;
  position: absolute;
  right: 264.9px;
  bottom: 143.8px;
  width: 200.2px;
  height: 233.8px;
}
.mac-book-air-5 .average-time {
  margin: 0 18.1px 6.7px 18.1px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 10px;
  color: #939393;
}
.mac-book-air-5 .container-6 {
  margin-right: 18px;
  width: 318.3px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 30px;
  color: #2E2E30;
}
.mac-book-air-5 .steps {
  margin: 18.7px 0 0.3px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 14px;
  color: #2E2E30;
}
.mac-book-air-5 .container-7 {
  margin: 0 1.5px 82.3px 1.5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 393.9px;
  box-sizing: border-box;
}
.mac-book-air-5 .line-1 {
  opacity: 0.5;
  background: #B1B1B1;
  margin-right: 201.7px;
  width: 221.6px;
  height: 0px;
}
.mac-book-air-5 .line-2 {
  opacity: 0.5;
  background: #B1B1B1;
  margin-right: 201.7px;
  width: 221.6px;
  height: 0px;
}
.mac-book-air-5 .line-3 {
  opacity: 0.5;
  background: #B1B1B1;
  margin-right: 201.7px;
  width: 221.6px;
  height: 0px;
}
.mac-book-air-5 .line-4 {
  opacity: 0.5;
  background: #B1B1B1;
  margin-right: 44.8px;
  width: 221.6px;
  height: 0px;
}
.mac-book-air-5 .container-7 {
  margin: 18.1px 129.9px 191.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 10px;
  color: #A63A18;
}
.mac-book-air-5 .container-6 {
  margin-right: 201.7px;
  width: 0.5px;
  height: 221.6px;
}
.mac-book-air-5 .line-6 {
  opacity: 0.5;
  background: #B1B1B1;
  width: 221.6px;
  height: 0px;
}
.mac-book-air-5 .container-8 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.mac-book-air-5 .ellipse-2 {
  position: absolute;
  top: 59.5px;
  right: 285.9px;
  width: 14px;
  height: 10px;
}
.mac-book-air-5 .container-5 {
  position: relative;
  margin: 0 0 18px 1.5px;
  display: flex;
  box-sizing: border-box;
}
.mac-book-air-5 .container {
  margin-right: 6px;
  width: 49.6px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 10px;
  color: #2E2E30;
}
.mac-book-air-5 .container-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 10px;
  color: #2E2E30;
}
.mac-book-air-5 .container-2 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 10px;
  color: #2E2E30;
}
.mac-book-air-5 .container-3 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 10px;
  color: #2E2E30;
}
.mac-book-air-5 .container-4 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 10px;
  color: #2E2E30;
}
.mac-book-air-5 .container-5 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 10px;
  color: #2E2E30;
}
.mac-book-air-5 .container-1 {
  margin: 0 84.4px 36px 24.1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 904.7px;
  box-sizing: border-box;
}
.mac-book-air-5 .set-daily-reminder {
  margin-bottom: 16px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  color: #767676;
}
.mac-book-air-5 .reminder-after-you-reached-daily-limit {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #767676;
}
.mac-book-air-5 .group-3 {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.mac-book-air-5 .container-3 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.mac-book-air-5 .graph-12 {
  border-radius: 10px;
  background: #FFFFFF;
  position: relative;
  margin-left: 8.9px;
  display: flex;
  padding: 26.5px 60.1px 32.7px 67.7px;
  box-sizing: border-box;
}
.mac-book-air-5 .container-2 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1478px;
  height: fit-content;
  box-sizing: border-box;
}
.mac-book-air-5 {
  background: #FFFFFF;
  display: flex;
  padding-bottom: 27.1px;
  width: 1280px;
  box-sizing: border-box;
}
