.mac-book-air-3 .ellipse-2 {
  backdrop-filter: blur(2px);
  position: absolute;
  top: -213px;
  right: -21px;
  width: 1301px;
  height: 633px;
}
.mac-book-air-3 .image-4 {
  background: url('../assets/images/image_41.png') 50% / cover no-repeat;
  position: absolute;
  top: 80px;
  right: 410px;
  width: 438px;
  height: 439px;
}
.mac-book-air-3 .fitness-app {
  margin-right: 20.5px;
  width: 364px;
  overflow-wrap: break-word;
  font-family: 'Epilogue';
  font-weight: 800;
  font-size: 40px;
  color: #1C3796;
}
.mac-book-air-3 .home {
  margin: 7px 0 1px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Epilogue';
  font-weight: 500;
  font-size: 32px;
  color: #9E82D8;
}
.mac-book-air-3 .about {
  margin: 7px 0 1px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Epilogue';
  font-weight: 500;
  font-size: 32px;
  color: #9E82D8;
}
.mac-book-air-3 .pricing {
  margin: 7px 0 1px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Epilogue';
  font-weight: 500;
  font-size: 32px;
  color: #9E82D8;
}
.mac-book-air-3 .login {
  margin: 7px 0 1px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Epilogue';
  font-weight: 500;
  font-size: 32px;
  color: #9E82D8;
}
.mac-book-air-3 .container {
  position: relative; /* Ensure container is positioned relatively */
  margin-top: 150px; 
  margin: 0 35px 507px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 87px 0 19px 35px;
  width: 1307px;
  box-sizing: border-box;
}
.mac-book-air-3 .line-5 {
  background: rgba(206, 206, 206, 0.8);
  margin-bottom: 61px;
  width: 1392px;
  height: 0px;
}
.mac-book-air-3 .vector-4 {
  width: 45px;
  height: 45px;
}
.mac-book-air-3 .icondumbbell {
  display: flex;
  width: 45px;
  height: 45px;
  box-sizing: border-box;
}
.mac-book-air-3 .container-4 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
  border-radius: 27px;
  border: 5px solid rgba(255, 255, 255, 0.35);
  background: rgba(243, 186, 196, 0.8);
  position: relative;
  margin-right: 18px;
  padding: 22px 20px 15px 20px;
  width: 85px;
  height: 82px;
  box-sizing: border-box;
}
.mac-book-air-3 .weight-training {
  margin: 30px 0 15px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Epilogue';
  font-weight: 800;
  font-size: 36px;
  color: #961C48;
}
.mac-book-air-3 .container-15 {
  margin-bottom: 1.7px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.mac-book-air-3 .vector-5 {
  width: 18.1px;
  height: 10.7px;
}
.mac-book-air-3 .iconangle-down-2 {
  margin-top: 73px;
  display: flex;
  width: 18.1px;
  height: 10.7px;
  box-sizing: border-box;
}
.mac-book-air-3 .container-8 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background: #F5F5F5;
  position: relative;
  margin: 0 26px 1px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 19px 12.9px 11.3px 12px;
  width: 563px;
  height: fit-content;
  box-sizing: border-box;
}
.mac-book-air-3 .vector-1 {
  width: 39.7px;
  height: 50.7px;
}
.mac-book-air-3 .group {
  display: flex;
  width: 68px;
  height: 62.3px;
  box-sizing: border-box;
}
.mac-book-air-3 .container-10 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
  border-radius: 27px;
  border: 5px solid rgba(255, 255, 255, 0.35);
  background: rgba(243, 186, 196, 0.8);
  position: relative;
  margin-right: 19px;
  display: flex;
  padding: 13.5px 0 17.9px 1px;
  width: 85px;
  height: 82px;
  box-sizing: border-box;
}
.mac-book-air-3 .yoga-training {
  margin: 25px 0 20px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Epilogue';
  font-weight: 800;
  font-size: 36px;
  color: #961C48;
}
.mac-book-air-3 .container-5 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.mac-book-air-3 .vector {
  width: 18.1px;
  height: 9.8px;
}
.mac-book-air-3 .iconangle-down {
  margin: 13.3px 0 58.9px 0;
  display: flex;
  width: 18.1px;
  height: 9.8px;
  box-sizing: border-box;
}
.mac-book-air-3 .container-13 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background: #F5F5F5;
  position: relative;
  margin-top: 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 19px 15.9px 13px 12px;
  width: 590px;
  height: fit-content;
  box-sizing: border-box;
}
.mac-book-air-3 .container-12 {
  margin: 50px 87px 41px 126px;
  display: flex;
  flex-direction: row;
  width: 1179px;
  box-sizing: border-box;
}
.mac-book-air-3 .group-1 {
  width: 63px;
  height: 63px;
}
.mac-book-air-3 .healthiconsexercise-walking {
  display: flex;
  width: 63px;
  height: 63px;
  box-sizing: border-box;
}
.mac-book-air-3 .container-1 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
  border-radius: 27px;
  border: 5px solid rgba(255, 255, 255, 0.35);
  background: rgba(243, 186, 196, 0.8);
  position: relative;
  margin-right: 19px;
  display: flex;
  padding: 9px 11px 10px 11px;
  width: 85px;
  height: 82px;
  box-sizing: border-box;
}
.mac-book-air-3 .hiit-training {
  margin: 27px 0 18px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Epilogue';
  font-weight: 800;
  font-size: 36px;
  color: #961C48;
}
.mac-book-air-3 .container-11 {
  margin-bottom: 1.7px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.mac-book-air-3 .vector-6 {
  width: 18.1px;
  height: 10.7px;
}
.mac-book-air-3 .iconangle-down-3 {
  margin-top: 73px;
  display: flex;
  width: 18.1px;
  height: 10.7px;
  box-sizing: border-box;
}
.mac-book-air-3 .container-9 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background: #F5F5F5;
  position: relative;
  margin: 2px 27px 1px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 19px 12.9px 11.3px 12px;
  width: 563px;
  height: fit-content;
  box-sizing: border-box;
}
.mac-book-air-3 .vector-3 {
  width: 42px;
  height: 40.5px;
}
.mac-book-air-3 .container-14 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
  border-radius: 27px;
  border: 5px solid rgba(255, 255, 255, 0.35);
  background: rgba(243, 186, 196, 0.8);
  position: relative;
  margin-right: 19px;
  display: flex;
  padding: 20px 0 21.5px 3px;
  width: 85px;
  height: 82px;
  box-sizing: border-box;
}
.mac-book-air-3 .boxing-training {
  margin: 28px 0 17px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Epilogue';
  font-weight: 800;
  font-size: 36px;
  color: #961C48;
}
.mac-book-air-3 .container-7 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.mac-book-air-3 .vector-2 {
  width: 18.1px;
  height: 9.8px;
}
.mac-book-air-3 .iconangle-down-1 {
  margin: 0.4px 0 71.8px 0;
  display: flex;
  width: 18.1px;
  height: 9.8px;
  box-sizing: border-box;
}
.mac-book-air-3 .container-2 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background: #F5F5F5;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 19px 15.9px 16px 12px;
  width: 589px;
  box-sizing: border-box;
}
.mac-book-air-3 .container-3 {
  margin: 0 88px 0 125px;
  display: flex;
  flex-direction: row;
  width: 1179px;
  box-sizing: border-box;
}
.mac-book-air-3 .container-6 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1392px;
  height: fit-content;
  box-sizing: border-box;
}
.mac-book-air-3 .workout-plan {
  position: absolute;
  right: 411.8px;
  bottom: 416px;
  overflow-wrap: break-word;
  font-family: 'Epilogue';
  font-weight: 800;
  font-size: 64px;
  color: #961C48;
}
.mac-book-air-3 {
  background: #FFFFFF;
  display: flex;
  padding-bottom: 50px;
  width: 1280px;
  box-sizing: border-box;
}

